/*Theme Name: Gun + Partners
Theme URI: http://www.gun.av.tr
Description: Gun + Partners Theme
Version: 0.1
Author: Mark Foley
Author URI: http://www.uffindellgroup.com
Tags: 
*/

@import url("css/bootstrap.min.css");
@import url("css/bootstrap-select.min.css");

/*@import url("css/bootstrap-theme.css");*/
@import url("css/offcanvas.css");
body {
  /*font-family: "proxima-nova", Helvetica, Arial, sans-serif;*/
	font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  
}
.nav>li>a{
  padding: 7px 7px!important;
}
.scroll-links .nav>li>a{
  padding: 5px 5px!important;
}
.news-sidebar{
  width: 100%;
}

.news{
  width: 92%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;padding-bottom:10px;
  margin-top:10px;
  overflow:auto;
}
.news-date{
  margin-right:10px;
  color:#00abdf;
  width: 55px;
  height: 55px;
  text-transform: uppercase;
  border:1px solid #00abdf;
  text-align: center;
  font-size:12px;
  padding-top:6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float:left;
}
.news-title{
  color:#00abdf;
}
a {
color: #00ABDF;
text-decoration: none;
font-weight: 400;
}

h2
{
    color: #666666;
    text-transform: uppercase;
    font-weight: 300;
}

h1.pageTitle
{
  text-transform: uppercase;
margin-top: 0px;
font-weight: 300;
padding-top: 30px
}
ul ul li a
{
  font-size: 12px;
  margin-left: 10px;
  
}

mark {
  color: #000;
  background: #cceef9;
}

.navWrap
{
  min-height: 110px;
  /*border-bottom: 1px solid #eee;*/
}
.navbar-default .navbar-toggle {
 border: none;
}


.featured_story
{
  background-color: #f7f8f8;
/*  margin: 28px 0px 28px 0px;*/
}


.navbar-toggle {
border-radius: 0px;
}

/*Thumbnail Styling*/
.img-thumbnail
{
padding: 2px;
border-radius: 0px;

}

.homeBox
{
  position: relative;
}

.homeBox h2
{
  background: #FFFFFF;
    font-size: 21px;
}

.homeBox h3
{
    font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #00ABDF;
  margin-top:0px; 
}

/*PLACEHOLDER TEXT
*/

.form-control::-webkit-input-placeholder
{
  font-size: 13px;
/*color: red*/;
}

@media (max-width: 991px)
{
.wp-advanced-search .filter-option
{

  font-size: 11px;
  padding-top: 2px;
}
.form-control::-webkit-input-placeholder
{
    padding-top: 2px;
  font-size: 11px;
/*color: red*/;
}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{
 .sidebar-link h5
 {
  font-size: 10px;
 }
}


/*Header Image*/
.headerImage
{
  min-height: 240px; 
}

@media (max-width: 991px)
{
   .headerImage
  {
    min-height: 200px; 
  }
}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{
  .headerImage
  {
    min-height: 160px; 
  }
  .post>.headerImage
  {
            margin-top: -45px;
    z-index: -1;
  }
}

/*Makes the WHOLE DIV LINK work*/
.homeBox span
{
  
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('img/empty.gif');

}

.lawyer.homeBox img
{
 margin-top: 10px;
}

.homeBox:hover  img
{
  opacity: 0.825;
}

.lawyer.homeBox:hover 
{
  background-color: #fafafa;
}

h1.pageHead
{
  text-transform: uppercase;
  margin-top: 0px;
  font-weight: 300;
  padding-top: 30px;
}

.aboutInfo li
{
  padding-top: 14px;
}





.profile
{
  padding-left: 25px;
}

@media (max-width: 991px)
{
.profile
{
  padding-left: 0px;
}
}

.profile h1
{
  font-weight: 400;
}

.profile h3{
 text-transform: none;
 color: #00ABDF;
 font-weight: 400;
 border-bottom: 1px solid #ddd;
 padding-bottom: 7px;
font-size: 16px;
}

.profile h4
{
  font-weight: 300;
}

.byline
{
  color: #999999;
}

.corePracticeAreas
{
  padding-top: 30px;
}

.corePracticeAreas li
{
margin-top: 0px;
margin-bottom: 14px;
border-top: 1px solid #ccc;
}

/*.top
{
  position: relative;
}
.bottom
{
  position: absolute;
  bottom: 0px;
}*/
.sidebar-link
{
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 7px;
    /*border-top: 1px solid #ccc;   */
}

/*BLOCKQUOTE STYLES*/

blockquote {
padding: 20px 45px;
margin: 0 0 20px;
color: #867a77;
font-size: 14px;
border: none;

}
/*TOOLTIP STYLES*/

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}


.tooltip-inner {
  max-width: 200px;
  padding: 8px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #666;
  border-radius: 0px;
}

.tooltip.bottom .tooltip-arrow
{
    border-bottom-color: #666;
}
/*CV STYLES*/

.cv h2
{
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #00ABDF;
  margin-top:0px; 
}

.cv p
{
  font-size: 16px
}
.cv h1
{
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}
.cv .phone
{
  font-weight: 400;
  color: #363B7E;
}

.cv .bottom p
{
  font-size: 14px
}

.cv .bottom span
{
  font-weight: 400;
  color: #00ABDF;
}
.crosses
{
    height: 44px;
  background: url(img/crosses_half.png) repeat-x 0 0;
      background-size: 30px 44px;
}

/*RETINA CROSSES*/
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  .crosses
{
    
  background: url(img/crosses.png) repeat-x 0 0;
      background-size: 30px 44px;
}

.headerImage
{
  
}
}

#sidebar
{
  min-height: 900px;
}
/*
HACKS TO FIX AFFIX*/
#sidebar>.affix, #sidebar>.affix-bottom
{
  /*background-color:  red;*/
  width: 263px;
  top:25px!important;
}
/* Large devices (large desktops, 1200px and up) */

@media (max-width: 1200px)
{
 #sidebar>.affix, #sidebar>.affix-bottom
{
 /* background-color:  blue;*/
  width: 213px;
  
}
}

@media (max-width: 991px)
{
 #sidebar>.affix, #sidebar>.affix-bottom
{
 /* background-color:  blue;*/
  width: 157px;
  
}
}

@media (max-width: 767px)
{
 #sidebar>.affix, #sidebar>.affix-bottom
{
  /*display: none;*/
    width: 137px;
  
}
}

@media (max-width:480px)
{
 #sidebar>.affix, #sidebar>.affix-bottom
{
  /*display: none;*/
    width: 107px;
  
}
}
.navbar-brand{

    width: 217px;
    height: 58px;
    display: block;
    
    background: url(img/gun_logo@2x.png) no-repeat 0 0;
  background-size: contain;
    
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
      
    }
   
@media (max-width: 768px) {
.navbar-brand{
  margin-left: 15px;
}
}
.navbar-nav
{
    font-size: 12px;
}
.navbar-nav>li {
font-family: "proxima-nova",sans-serif;
text-transform: uppercase;
font-size: 11px;
text-align: center;
}

.navbar-default .navbar-nav>.active>a
{
  color: #555;
  background-color: transparent;
  font-weight: 600;
  text-decoration: underline;
}

ul.bio li
{
  font-size: 18px;
  padding-top:7px;
 
}

ul.bio.articles li
{
  color: #666;
   font-size: 14px;
  padding-top:8px;
  padding-bottom: 15px;
/*   border-top: 1px solid #ddd;*/

}

ul.bio.articles li strong
{
  color: #333;


}

/*Search Bar Hack*/

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 9px 11px;
    pointer-events: none;
}

/*Let's Style some panels!*/

.panel-group .panel
{
  border-radius: 0px;

}
 
 .panel-group, .panel, .panel-default
 {
  border: hidden;
  -webkit-box-shadow: none;
box-shadow: none;
 }
 
 .panel-heading
 {
  border-top-right-radius: 0px;
border-top-left-radius: 0px;
border-top: 1px solid #333333;
padding-left: 2px;
 }
 .panel-default>.panel-heading
 {
  background-color: #ffffff;
 }
  .panel-heading h4
  {
    font-size: 21px;
    color: #00ABDF;
  }
  
  .panel-default>.panel-heading+.panel-collapse .panel-body
  {
    border-top: none;
    padding-left: 0px;
  }
  
  
  /*Add Chevrons*/
  


/*  Let's Style the Wells
*/
.well, .well-lg
 {
  border-radius: 0px;
 }
.searchSidebar
{
  padding-bottom: 28px;
}

.find
{
  padding-bottom: 28px;
}

.about
{
    width: 100%;
    height: 535px;
    max-height: 346px;
    display: block;
    
    background: url(img/buyuk.png) no-repeat 0 0;
  background-size: contain;
  margin-bottom: 25px;
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1200px)
{
    .about{
        max-height: 297px;
    }
}


.about h1
{
    margin-top: 0px;
    font-size: 32px;
}
.aboutWhite
{
    margin-top: 20px;
    padding: 14px;
/*     padding-right: 14px;*/
    background-color: white;
    opacity: 0.95;
}

.single hr
{
margin-top: 0px;
}

.single .byline
{
margin-bottom: 21px;
}
#nav-wrapper.affix {


    top: 0;
    width: 100%;
    z-index: 5;
   border-bottom: 1px solid #eeeeee;
    
}

.navbar.affix
{
  margin-bottom: 0px!important;
}

.container.padded
{
  padding-top: 17px;
  padding-bottom: 12px;
  margin-bottom: 0px!important;
}
/*#nav { position: relative; z-index: 2; }*/

.wpcf7-form  p {
	line-height: 1px;
	margin: 0;
        
}

.affix-bottom {
  /*position: absolute;*/
}

/*GOOGLE MAP RESPONSIVE*/
#mapContainer, #mapContainer iframe, #mapContainer object, #mapContainer embed
{
  width: 100%;
  min-height: 225px;
}

#mapContainer
{
  z-index:1;
}

#lang_sel_list {
    padding-left: 0;
    font-size: 14px!important;
    list-style: none;
    margin-left: -5px;
    float: right;
    height: auto!important;
    position: relative;
    z-index: 1!important;
    font-family: inherit!important;
    margin-bottom: 10px!important;
}

#lang_sel_list ul {
  border-top: none!important;
 
}

#lang_sel_list ul li{
  display: inline-block;
padding-left: 5px!important;
padding-right: 5px!important;
}

#lang_sel_list a, #lang_sel_list a:visited {

font-size: 14px!important;
text-decoration: none!important;
line-height: 14px!important;
padding-left: 0px!important;
}

.contact
{
  border-right: 1px solid #eeeeee;
}

.contact dd
{
  margin-left: 90px;
}


@media (min-width: 991px)
{
.dl-horizontal dt {
float: left;
width: 70px;
clear: left;
text-align: right;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
}

@media (min-width: 767px)
{
.dl-horizontal dt {
width: auto;

}

.dl-horizontal dd
{
  margin-left: 65px;
}
}

@media (max-width: 767px)
{
.dl-horizontal dt {
float: left;
width: 70px;
clear: none;
text-align: right;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
}



.aboutWhite h1
{
  text-transform: uppercase;
  font-weight: 300;
  color: #363B7E;
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1200px)
{
    .aboutWhite h1
{
  font-size: 21px;
}
}

@media only screen 
and (min-width : 100px) 
and (max-width : 767px)
{
    .aboutWhite h1
{
  font-size: 21px;
}
}
.navbar-default {
background: #ffffff;
border: none;
}

.navbar
{
  margin-bottom: 0px;
}
.btn, .form-control
{
  border-radius: 0px;
  font-weight: 300;
  /*margin-bottom: 14px;*/
}

.btn-primary {
color: #fff;
background-color: #00ABDF;
border-color: #00ABDF;
float: right;
}
/*.navbar-nav a{
border-left: 1px solid #CCCCCC; 
}*/

dd
{
  padding-bottom: 7px;
}

.dropdown-menu
{
  border-radius: 0px;
}

    span .caret
    {
color: #00ABDF; 
    }
    
.btn-group, .btn-group>.btn, .btn-group-vertical>.btn
{
  width: 100%;
  background-color: #ebebeb;
}

.breadcrumb
{
  padding: 0px;
  background: none;
  margin-bottom: 0px;
}

/* Pagination */
.pagination {
    clear:both;
    position:relative;
    font-size:11px; /* Pagination text size */
    line-height:13px;
    float:left; /* Pagination float direction */
}
 
.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    width:auto;
    color:#333; /* Pagination text color */
    background: none; /* Pagination non-active background color */
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
 
.pagination a:hover{
    color:#fff;
    background: #00ABDF; /* Pagination background on hover */
}
 
.pagination .current{
    padding:6px 9px 5px 9px;
    background: #00ABDF; /* Current page background */
    color:#fff;
}


.label-container label
{
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 21px;
margin-bottom: 9px;
}

#wp-advanced-search
{
  margin-bottom: 35px;
}
.affix {
    top: 79px;
}

.nav.sidebar li a {
  	padding: 0px;
        padding-top: 7px;
        padding-left: 7px;
}

.nav.sidebar li.active {
  	border:0 #ccc solid;
  	border-left-width:2px;
        color: #2a6496!important;
}

.nav.sidebar li:hover {
  	border:0 #ccc solid;
  	border-left-width:2px;
        color: #2a6496!important;
        background-color: transparent!important;
}

.practiceareas section, .team section
{
  padding-top: 75px;
  margin-top: -75px;
}

.affix-top ul.nav.sidebar
{
  margin-top: 30px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
ul.nav.sidebar li
{
  font-size: 12px;
}
}


@media (max-width: 767px) {
.team section .homeBox h2
{
  margin-top: 7px;
}
}

.nav.sidebar li.active a
{
  color: #2a6496!important;
}


.crop-height {
  /* max-width: 1200px; /* native or declared width of img src (if known) */
	max-height: 240px;
	overflow: hidden; }

.img-responsive .scale {
  /* corrects small inline gap at bottom of containing div */
	display: block; 
  width: 100%; /* corrects obscure Firefox bug */
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
  display: block; /* corrects small inline gap at bottom of containing div */
  width: 100% /* corrects obscure Firefox bug */
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  /*width: auto\9; 
  /* ie8+9 - use modernizr instead of this \9 hack */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic;
	/* optionally force a minimum size if img src size is known: */
	/* min-height: 320px; /* max-height of .crop-height */
	/* min-width: 480px; /* proportional to above */ }



.carousel-control.right {
background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,001) 0),color-stop(rgba(0,0,0,0.2) 100%));
background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0.2) 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.left {
background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,.2) 0),color-stop(rgba(0,0,0,.0001) 100%));
background-image: linear-gradient(to right,rgba(0,0,0,.2) 0,rgba(0,0,0,.0001) 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}


.carousel-control {
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 15%;
opacity: .1;
filter: alpha(opacity=50);
font-size: 20px;
color: #fff;
text-align: center;
text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-indicators li {
display: none;
/*display: inline-block;*/
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
border: 1px solid #00ABDF;
border-radius: 10px;
cursor: pointer;
background-color: #000 \9;
background-color: rgba(0,0,0,0);
}

.carousel-indicators .active {
margin: 0;
width: 12px;
height: 12px;
background-color: #00ABDF;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
top: 80%;
}

.carousel-indicators {
bottom: 10px;
}

.carousel-indicators {

margin-left: -30%;
text-align: center;

}
@media (min-width: 1200px)
{
.carousel img {
width: 100%;
margin: 0px;
}

.carousel figure {
height: auto;
overflow: auto;

}
}

.lead.strong
{
  font-weight: 300;
  padding-top: 30px;
}

@media only screen and (max-width: 991px) and (min-width: 480px)
{
  .carousel-indicators
  {
    display: none;
  }
  
 .carousel img {
width: 100%;
margin: -140px 0 0 0;
}

.carousel figure {
height: 140px;
overflow: hidden;

}
}

@media only screen and (max-width: 479px)
{
  
    .carousel-indicators
  {
    display: none;
  }
.carousel figure {
  height: 140px;
  overflow: hidden;
  }
 .carousel img {
  width: 100%;
  margin: -140px 0 0 0;
  }
}

@media (max-width: 991px) {

    .practiceareas section
{
  /*padding-top: 12px;*/
}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/*HACKY WAY OF FIXING AFFIX*/

@media (max-width: 767px) {
h1.pageTitle
{
  font-size: 28px;
}
    .affix {
        position: static;
    }
}